// Variables
$button-hover-background: rgba(255, 255, 255, 0.2);
$primary-text-color: rgba(255, 255, 255, 0.9);
$secondary-text-color: rgba(255, 255, 255, 0.6);

// Mixins
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-gap($gap) {
  display: flex;
  gap: $gap;
}

@mixin button {
  background: none;
  border: none;
  cursor: pointer;
}

.extensions-bar-container {
  margin-left: auto;
  margin-right: 0.5rem;

  .ModalDialogBody & {
    margin-right: 1rem;
  }

  .extensions-bar {
    @include flex-gap(2px);
    border-radius: 1rem;
    border: 1px solid transparent;
    transition: border 0.2s ease;

    &:hover {
      border: 1px solid gray;
    }
  }

  .extension-button {
    @include button;

    width: 31px;
    height: 31px;
    padding: 7px;
    border-radius: 50%;
    transition: background 0.2s ease;

    &:hover {
      background: $button-hover-background;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}


//#region extension-manager
$text-color: white;
$secondary-text-color: rgb(196, 199, 197);

$card-width: 400px;
$max-columns: 3;
$grid-gutter: 12px;

.extension-manager-popup {
  margin-top: 3rem;
}

.span-icon {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  justify-content: center !important;
}

.card-container {
  display: grid;
  gap: $grid-gutter;
  grid-template-columns: repeat(auto-fill, $card-width);
  max-width: calc($card-width * $max-columns + $grid-gutter * $max-columns);
  margin: 2rem auto;
  font-size: 13px;
}

.extension-card {
  border-radius: 8px;
  background-color: #292a2d;
  display: flex;
  flex-direction: column;
  height: 180px;
}

.extension-main {
  display: flex;
  padding: 16px 20px;
  flex: 1 1 0%;
  min-height: 0px;

  .icon {
    align-self: flex-start;
    display: flex;
    padding: 6px;
    position: relative;

    img {
      height: 36px;
      width: 36px;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    overflow: hidden;

    .name-and-version {
      color: $text-color;
      margin-bottom: 4px;

      .name {
        margin-right: 8px;
      }
    }

    .description {
      overflow: hidden;
      text-overflow: ellipsis;
      height: 100%;
    }
  }
}

.layout-horizontal-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondary-text {
  font-weight: 400;
  color: $secondary-text-color;
}

.extension-buttons {
  flex-shrink: 0;
  height: 48px;
  padding: 8px 20px;
  display: flex;
  flex-direction: row;
  gap: 8px;

  button {
    flex: 1 1 0%;
    border-radius: 50px;

    &::before {
      box-shadow: none !important;
    }
  }

  & >:last-child {
    margin: auto 0;
    margin-left: 60px;
  }
}

.extension-detail-info {
  width: 680px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  margin: auto;

  .page-header {
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 12px;
    padding: 8px 12px 0px;
    color: $primary-text-color;

    & > button {
      @include button;

      color: #FFF;
      font-size: 20px;
      cursor: pointer;
      transition: background 0.2s ease;
      display: flex;
      border-radius: 100px;
      width: 32px;
      height: 32px;

      &:hover {
        background: $button-hover-background;
      }

      svg {
        margin: auto;
      }
    }

    & > img {
      margin-inline: 16px 12px;
      height: 24px;
      width: 24px;
    }

    & > span {
      flex-grow: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 107%;
      font-weight: 500;
    }
  }

  .section {
    padding: 12px 20px;

    .heading {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    .content {
      color: $secondary-text-color;
    }
  }

  ul {
    margin: 0px;
    padding-inline-start: 20px;
  }

  a {
    color: rgb(168, 199, 250);
    font-size: 85%;
  }

}

.hr {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

//#endregion